# Git
/.git/
/.gitmodules

# Repository stuff
/README.md
/docker-compose.yml

# GitLab
/.gitlab-ci.yml

# User and git shenanigans
/blog/.env
/blog/.git/
/blog/.gitignore
/blog/README.md
/blog-posts/.env
/blog-posts/.git/
/blog-posts/.gitignore
/blog-posts/posts/
/blog-posts/README.md

# Stuff created during compose up
/static/
